.page__about-llst {
  display: block;
}
.page__about-list-item {
  flex-basis: calc((100% - 90px) / 4);
}
.page__about-list-item-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
  text-align: center;
}
.page__about-list-item-page {
  font-size: 14px;
  line-height: 1.71;
  color: var(--page-color);
}
.page__about-cont {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--thirst-font-color);
  margin-bottom: 30px;
  height: 120px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .page__about-llst {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .page__about-list-item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .page__about-list-item-header {
    text-align: left;
  }
  .page__about-cont {
    width: 354px;
  }
  
}
@media screen and (min-width: 1200px) {
  .page__about-cont {
    width: 270px;
  }
}