@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transitions-dur-and-func),
      visibility var(--transitions-dur-and-func);
  }

  .menu-nav {
    display: flex;
    column-gap: 50px;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: relative;
    padding: 48px 0px 48px 25px;
    display: flex;
    flex-direction: column;
  }
  .mobile-menu__nav-list {
    margin-bottom: 302px;
  }
  .mobile-menu__nav-li {
    &:not(:last-child) {
      margin-bottom: 33px;
    }
  }
  .mobile-menu__nav-link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: .02em;
    color: var(--header-color);
    &:hover{
        color: var(--hover-color);
    }
  }
  .mobile-menu__contacts-list {
    margin-bottom: 64px;
  }
  .mobile-menu__contacts-number{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--page-color);
  }
  .mobile-menu__contacts-mail{
    color: aqua;
    color: var(--page-color);
    

  }
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
